<style type="text/css">
#container{ width:90%;}
select{width:auto}
</style>
<div class="overflow">
<Form method="POST" onSubmit="return checkForm(this)">
<input type="hidden" name="op" value="admin_server_add">
<input type="hidden" name="token" value="<TMPL_VAR token>">
<input type="hidden" name="srv_id" value="<TMPL_VAR srv_id>">
<input type="hidden" name="srv_ip" value="0.0.0.0">
<input type="hidden" name="srv_allow_regular" value="1">
<input type="hidden" name="srv_allow_premium" value="1">
<Table class="tbl1" cellpadding=3 cellspacing=1 width="400">
<TR class="hdr"><TD colspan=2><TMPL_IF srv_id>Edit<TMPL_ELSE>Add</TMPL_IF> CDN</TD></TR>
<TR><TD align=right><b><TMPL_VAR lang_server_name></b></TD><TD><input type="text" name="srv_name" value="<TMPL_VAR srv_name>" size=16></TD></TR>
<TR><TD align=right><b>Provider</b></TD><TD>
   <!-- CDN selector -->
   <select id="srv_cdn" name="srv_cdn">
      <TMPL_LOOP cdn_list>
      <option value="<TMPL_VAR name>"<TMPL_IF selected> selected</TMPL_IF>><TMPL_VAR title></option>
      </TMPL_LOOP>
   </select>
</TD></TR>
<!-- Controls for (pre)selected CDN -->
<TMPL_LOOP s_fields>
<TR><TD align=right><b><TMPL_VAR title></b></TD><TD><input type="text" name="<TMPL_VAR name>" value="<TMPL_VAR value>" size="<TMPL_VAR size>"> <TMPL_VAR comment></TD></TR>
</TMPL_LOOP>
<TR><TD align=right><b><TMPL_VAR lang_max_disk_usage></b></TD><TD><input type="text" name="srv_disk_max" value="<TMPL_VAR srv_disk_max>" size=6> Gb</TD></TR>
<TR><TD align=right><b><TMPL_VAR lang_status></b></TD><TD>
<Select name="srv_status">
<option value="READONLY"<TMPL_VAR s_READONLY>>READONLY</option>
<option value="OFF"<TMPL_VAR s_OFF>>OFF</option>
</Select>
</TD></TR>
<TR><TD align=right><b>Created</b></TD><TD><TMPL_VAR srv_created></TD></TR>
<TMPL_IF srv_key><TR><TD align=right><b>fs_key</b></TD><TD><input type="text" name="srv_key" value="<TMPL_VAR srv_key>" size=8></TD></TR></TMPL_IF>
<TMPL_IF m_g><TR><TD align=right><b>GeoIP countries</b></TD><TD><input type="text" name="srv_countries" value="<TMPL_VAR srv_countries>" size=32><br><small>e.g. US,CA,DE,FR</small></TD></TR></TMPL_IF>

<TMPL_IF tests>
<TR><TD colspan=2>
<b><TMPL_VAR lang_file_server_tests>:</b><br>
<TMPL_LOOP tests>
<div class="<TMPL_VAR class>"><TMPL_VAR text></div>
</TMPL_LOOP>
</TD></TR>
</TMPL_IF>

<TR class="hdr"><TD align=center colspan=2><br>
<input type="submit" name="save" value=" <TMPL_VAR lang_submit> ">
<br><br></TD></TR>
</Table>
</Form>
</div>
<Script>
function checkForm(f1)
{
    if(f1.srv_name.value.length<2){alert("Enter server name at least 2 chars");return false;}
    if(f1.srv_cgi_url.value.length<5){alert("Enter valid cgi-bin URL");return false;}
    if(f1.srv_htdocs_url.value.length<5){alert("Enter valid files URL");return false;}
    if(!f1.srv_allow_regular.checked && !f1.srv_allow_premium.checked){alert("Choose at least one type of users server will be used for");return false;}
    return true;
}
$('#srv_cdn').change(function() {
    document.location = '?op=admin_server_add&cdn=' + this.form.srv_cdn.value;
})
</Script>
<br /><br />