<Form style="margin:0;" method="POST">
<input type="hidden" name="op" value="admin_comments">
<input type="hidden" name="token" value="<TMPL_VAR token>">
<h2>Comments</h2>
<input type="text" name="key" value="<TMPL_VAR key>"><input type="submit" value="<TMPL_VAR lang_search>">
<br><br>
<Table class="tbl1" name="comments" cellspacing=1 cellpadding=2 width=800>
<TR class="hdr">
<TD width="1%"><input type="checkbox" name="cmt_id" class="selall" value="0"></TD>
<TD>Topic</TD>
<TD>Text</TD>
<TD>User</TD>
<TD>IP</TD>
<TD colspan="2"></TD>
</TR>
<TMPL_LOOP list>
<TR>
<TD><input type="checkbox" name="cmt_id" value="<TMPL_VAR cmt_id>"></TD>
<TD align="center">
   <TMPL_IF cmt_type_1><a href="<TMPL_VAR download_link>"><TMPL_VAR file_name></a></TMPL_IF>
   <TMPL_IF cmt_type_2><a href="<TMPL_VAR news_link>"><TMPL_VAR news_title></a></TMPL_IF>
</TD>
<TD class="txt12"><TMPL_VAR cmt_text></TD>
<TD align="center"><a href="?op=admin_comments&usr_id=<TMPL_VAR usr_id>"><TMPL_VAR usr_login></TD>
<TD align="center"><a href="?op=admin_comments&ip=<TMPL_VAR ip>"><TMPL_VAR ip></TD>
<td class="icontd" width="1%"><a href="?op=admin_comment_edit&amp;cmt_id=<TMPL_VAR cmt_id>"><img name="edit" src="<TMPL_VAR site_url>/images/icon_edit.png"></a></td>
<td class="icontd" width="1%"><a href="?op=admin_comments&amp;del_selected=1&cmt_id=<TMPL_VAR cmt_id>&token=<TMPL_VAR token>" onClick="return confirm('Delete this comment?')"><img name="delete" src="<TMPL_VAR site_url>/images/icon_delete.png"></a></td>
</TR>
</TMPL_LOOP>
<TR class="hdr">
    <TD colspan="7" style="text-align:left;"><input type="submit" name="del_selected" value="<TMPL_VAR lang_delete_selected>" class=""></TD>
</TR>
</Table>
<TMPL_VAR paging>
<br><br>
</Form>

<script src="<TMPL_VAR site_url>/js/selall.js"></script>
