<h2><TMPL_VAR lang_adm_stats></h2>

<Form>
<input type="hidden" name="op" value="admin_stats">
<input type="hidden" name="section" value="<TMPL_VAR section>">
From <input type="text" class="date" name="date1" value="<TMPL_VAR date1>" size=10> to <input type="text" class="date" name="date2" value="<TMPL_VAR date2>" size=10>
<input type="submit" name="show" value="<TMPL_VAR lang_submit>">
</Form>

<a id="nav_charts" href="<TMPL_VAR site_url>/?op=admin_stats&section=charts">Charts</a> &nbsp;
<a id="nav_details" href="<TMPL_VAR site_url>/?op=admin_stats&section=details">Details</a> &nbsp;
<TMPL_IF m_x><a id="nav_sites" href="<TMPL_VAR site_url>/?op=admin_stats&section=sites">Sites</a> &nbsp;</TMPL_IF>
<a id="nav_payments" href="<TMPL_VAR site_url>/?op=admin_stats&section=payments">Payment Plugins</a>

<script>
var position = '<TMPL_VAR section>' || 'charts';
$('#nav_' + position).wrapInner('<b>').children().unwrap();
</script>

<TMPL_IF section_charts><TMPL_INCLUDE admin_stats_charts.html></TMPL_IF>
<TMPL_IF section_details><TMPL_INCLUDE admin_stats_details.html></TMPL_IF>
<TMPL_IF section_sites><TMPL_INCLUDE admin_stats_sites.html></TMPL_IF>
<TMPL_IF section_payments><TMPL_INCLUDE admin_stats_payments.html></TMPL_IF>

<style>
#container { width: auto; }
img { border: 1px solid #909090; }
</style>
<link href="<TMPL_VAR site_url>/css/jquery-ui.css" rel="stylesheet"/>
<script src="<TMPL_VAR site_url>/js/jquery-ui.js"></script>
<script>
    $('.date').datepicker({
        dateFormat: 'yy-mm-dd',
    });
</script>
