<TMPL_IF my_login>
	<link rel="stylesheet" type="text/css" href="<TMPL_VAR site_url>/css/dashboard-menu.css"/>
</TMPL_IF>
<style type="text/css">
.SidemenuPanel ul.otherMenus li.activefaq{background:#363636; border-left:2px solid #131313; cursor:pointer}
.SidemenuPanel ul.otherMenus li.activefaq i{color:#fff;}
</style>
<h2><TMPL_VAR lang_check> <TMPL_VAR site_name> <TMPL_VAR lang_urls_for_avail></h2>
<div style="text-align:left;" class="col-10">

<Table class="tbl1" cellpadding=2>
<TMPL_LOOP list>
<tr><td><TMPL_VAR url></td><td style="color:<TMPL_VAR color>;"><TMPL_VAR status></td><td><TMPL_VAR fsize></td></tr>
</TMPL_LOOP>
</Table>

<TMPL_VAR lang_one_url_per_line>
<br>
<Form method="POST">
<input type="hidden" name="op" value="check_files">
<input type="hidden" name="token" value="<TMPL_VAR token>">
<Textarea name="list" rows=12 style="width:100%;font:12px Arial"></Textarea>
<br><input type="submit" name="process" value="<TMPL_VAR lang_check_urls>">
</Form>
</div>
