			<div class="premium_table"><!-- Start Premium Table -->
				<div class="features">
					<h2>XFileSharing Features</h2>
					<div class="clear"></div>
					<ul>
						<li>Max upload file size</li>
						<li>Storage space</li>
						<li>Download volume</li>
						<li>Remote URL upload</li>
						<li>Download-Accelerators support</li>
						<li>Downloads resume </li>
						<li>No downloads delay</li>
						<li>No downloads captcha</li>
						<li>No Advertisements</li>
						<li>When are your files deleted?</li>
					</ul>
					<div class="clear"></div>
					<div class="plans">
						<div class="free_plan">
						<div class="plan_name">
							Free
						</div>
							<ul>
								<li><TMPL_VAR max_upload_filesize_anon></li>
								<li> - </li>
								<li><TMPL_VAR bw_limit_anon></li>
								<li><TMPL_IF remote_url_anon><img src="<TMPL_VAR site_url>/images/icon_yes_g.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_no_g.png"></TMPL_IF></li>
								<li><TMPL_IF download_resume_anon><img src="<TMPL_VAR site_url>/images/icon_yes_g.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_no_g.png"></TMPL_IF></li>
								<li><TMPL_IF download_resume_anon><img src="<TMPL_VAR site_url>/images/icon_yes_g.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_no_g.png"></TMPL_IF></li>
								<li><TMPL_IF download_countdown_anon><img src="<TMPL_VAR site_url>/images/icon_no_g.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_yes_g.png"></TMPL_IF></li>
								<li><TMPL_IF captcha_anon><img src="<TMPL_VAR site_url>/images/icon_no_g.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_yes_g.png"></TMPL_IF></li>
								<li><TMPL_IF ads_anon><img src="<TMPL_VAR site_url>/images/icon_no_g.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_yes_g.png"></TMPL_IF></li>
								<li><TMPL_VAR files_expire_anon></li>
							</ul>
						</div>
						<div class="premium_plan">
							<div class="plan_name">
							Premium
							</div>
							<ul>
								<li><TMPL_VAR max_upload_filesize_prem></li>
								<li><TMPL_VAR disk_space_prem></li>
								<li><TMPL_VAR bw_limit_prem></li>
								<li><TMPL_IF remote_url_prem><img src="<TMPL_VAR site_url>/images/icon_yes_w.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_no_w.png"></TMPL_IF></li>
								<li><TMPL_IF download_resume_prem><img src="<TMPL_VAR site_url>/images/icon_yes_w.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_no_w.png"></TMPL_IF></li>
								<li><TMPL_IF download_resume_prem><img src="<TMPL_VAR site_url>/images/icon_yes_w.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_no_w.png"></TMPL_IF></li>
								<li><TMPL_IF download_countdown_prem><img src="<TMPL_VAR site_url>/images/icon_no_w.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_yes_w.png"></TMPL_IF></li>
								<li><TMPL_IF captcha_prem><img src="<TMPL_VAR site_url>/images/icon_no_w.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_yes_w.png"></TMPL_IF></li>
								<li><TMPL_IF ads_prem><img src="<TMPL_VAR site_url>/images/icon_no_w.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_yes_w.png"></TMPL_IF></li>
								<li><TMPL_VAR files_expire_prem></li>
							</ul>
							<TMPL_IF monthprice>
							<div class="monthprice">
								$<TMPL_VAR monthprice>
								<span>per month<span>
							</div>
							</TMPL_IF>
						</div>
						<div class="registered_plan">
							<div class="plan_name">
							Registered
						</div>
							<ul>
								<li><TMPL_VAR max_upload_filesize_reg></li>
								<li><TMPL_VAR disk_space_reg></li>
								<li><TMPL_VAR bw_limit_reg></li>
								<li><TMPL_IF remote_url_reg><img src="<TMPL_VAR site_url>/images/icon_yes_g.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_no_g.png"></TMPL_IF></li>
								<li><TMPL_IF download_resume_reg><img src="<TMPL_VAR site_url>/images/icon_yes_g.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_no_g.png"></TMPL_IF></li>
								<li><TMPL_IF download_resume_reg><img src="<TMPL_VAR site_url>/images/icon_yes_g.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_no_g.png"></TMPL_IF></li>
								<li><TMPL_IF download_countdown_reg><img src="<TMPL_VAR site_url>/images/icon_no_g.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_yes_g.png"></TMPL_IF></li>
								<li><TMPL_IF captcha_reg><img src="<TMPL_VAR site_url>/images/icon_no_g.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_yes_g.png"></TMPL_IF></li>
								<li><TMPL_IF ads_reg><img src="<TMPL_VAR site_url>/images/icon_no_g.png"><TMPL_ELSE><img src="<TMPL_VAR site_url>/images/icon_yes_g.png"></TMPL_IF></li>
								<li><TMPL_VAR files_expire_reg></li>
							</ul>
						</div>
					</div>
					
					<div class="clear"></div>
				</div>
			</div><!-- End Premium Table -->
			<div class="clear"></div>
			<br><br><br>
			<TMPL_IF expire_elapsed>
			<div class="accexpire">
				<span>Premium account expire:</span>
				<span><TMPL_VAR expire_elapsed></span>
			</div>
			</TMPL_IF>
			
