   <TMPL_IF my_login>
   		<link rel="stylesheet" type="text/css" href="<TMPL_VAR site_url>/css/dashboard-menu.css"/>
   </TMPL_IF>
<h2><TMPL_VAR lang_download_file> <TMPL_VAR file_name></h2>
<font style="font-size:12px;"><TMPL_VAR lang_you_requested> <font color="red"><TMPL_VAR site_url><TMPL_IF usr_add_login>/<TMPL_VAR usr_login></TMPL_IF>/<TMPL_VAR file_code>/<TMPL_VAR file_name></font> (<TMPL_VAR fsize>)</font>
<br><br><br>
<TMPL_INCLUDE comparison.html>
<Form method="POST" action=''>
<input type="hidden" name="op" value="download1">
<input type="hidden" name="usr_login" value="<TMPL_VAR usr_login>">
<input type="hidden" name="id" value="<TMPL_VAR file_code>">
<input type="hidden" name="fname" value="<TMPL_VAR file_name>">
<input type="hidden" name="referer" value="<TMPL_VAR referer>">
<input type="submit" name="method_premium" value="<TMPL_VAR lang_premium_download>"> &nbsp; &nbsp; &nbsp; &nbsp;
<input type="submit" name="method_free" value="<TMPL_VAR lang_free_download>">
</Form>

<TMPL_IF ads>
<br>ADS HERE<br>
</TMPL_IF>
<br /><br /><br /><br />