<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv=content-Type content="text-html; charset=UTF-8">                                                                     
    <meta name="description" content="<TMPL_IF meta_descr><TMPL_VAR meta_descr><TMPL_ELSE><TMPL_VAR site_name> - Free file upload service</TMPL_IF>">
    <meta name="keywords"    content="<TMPL_IF meta_keywords><TMPL_VAR meta_keywords><TMPL_ELSE>file upload,share files,free upload</TMPL_IF>">
    <TMPL_IF iframe_breaker>
    <script type='text/javascript'>
    if (top !== self) top.location.href = self.location.href;
    </script>
    </TMPL_IF>
    <title><TMPL_IF page_title><TMPL_VAR page_title><TMPL_ELSE><TMPL_VAR site_name> - <TMPL_VAR lang_page_title></TMPL_IF></title>
    <link rel="icon" href="images/favicon.gif" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/> 
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR site_url>/css/style.css"/>
    <script language="JavaScript" type="text/javascript" CHARSET="UTF-8" src="<TMPL_VAR site_url>/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="<TMPL_VAR site_url>/js/jquery.paging.js"></script> 
    <script type="text/javascript" src="<TMPL_VAR site_url>/js/jquery.cookie.js"></script> 
    <script type="text/javascript" src="<TMPL_VAR site_url>/js/paging.js"></script> 
    <script type="text/javascript">
    $(document).ready(function() {
           $("#showallarch").click(function() {
               $(this).css('display', 'none'),
            $("#fileinfoarch").css('height', '100%'),
            $("#grad").css('display', 'none');
           });
       });
   </script> 
   <script type="text/javascript">
      (function($) {
   $(function() {

      $('ul.tabs').on('click', 'li:not(.current)', function() {
         var section = $(this).parents('div.section:first');
         var idx = $(this).index();

         $(this).addClass('current').siblings().removeClass('current');
         $(section).find('> div.box').eq(idx).fadeIn(150).siblings('div.box').hide();
         $.cookie($(section).attr('id') + 'tab', idx);
      });

      $('.section').each(function(i, e) {
         if(!e.id) return;

         var idx;
         if(idx = $.cookie(e.id + 'tab'))
         {
            $(e).find('> ul > li').eq(idx).click();
         }
      });

   })
   })(jQuery)
    </script>      
<TMPL_IF ga_tracking_id>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<TMPL_VAR ga_tracking_id>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</TMPL_IF>
</head>
<body>
<div class="wrapper">
   <div id="header">
      <div class="container1">
         <div id="logo" style="float: left;" onclick="location.href='<TMPL_VAR site_url>';"><!--start logo-->
         </div><!--end logo-->
         <div id="mainmenu"><!--start main menu-->
            <ul>
               <TMPL_IF my_login>
               <TMPL_IF dmca_agent>
               <li><a href="<TMPL_VAR site_url>/?op=mass_dmca">DMCA takedown</a></li>
               <TMPL_ELSE>
               <li><a href="<TMPL_VAR site_url>/?op=my_account"><TMPL_VAR lang_my_account></a></li>
               <li><a href="<TMPL_VAR site_url>/?op=upload"><TMPL_VAR lang_upload_files></a></li>
               <li><a href="<TMPL_VAR site_url>/?op=my_files"><TMPL_VAR lang_my_files></a></li>
               <TMPL_IF enable_reports><li><a href="<TMPL_VAR site_url>/?op=my_reports"><TMPL_VAR lang_my_reports></a></li></TMPL_IF>
               <TMPL_IF enabled_prem>
               <li><a href="<TMPL_VAR site_url>/?op=payments"><TMPL_IF premium><TMPL_VAR lang_renew_premium><TMPL_ELSE><TMPL_VAR lang_buy_premium></TMPL_IF></a></li>
               </TMPL_IF>
               </TMPL_IF>
               <TMPL_IF mangle>
               <li><a name="back_to_administration" href="<TMPL_VAR site_url>/?logout=1" style="color:#c47a66;">Back to administration</a></li>
               <TMPL_ELSE>
               <li><a href="<TMPL_VAR site_url>/?op=logout" style="color:#c47a66;"><TMPL_VAR lang_logout></a></li>
               </TMPL_IF>
               <TMPL_ELSE>
               <TMPL_IF enabled_reg>
               <li><a href="<TMPL_VAR site_url>/login.html"><TMPL_VAR lang_login></a>&nbsp; &nbsp;</li>
               <li><a class="btn_blue" href="<TMPL_VAR site_url>/?op=registration"><TMPL_VAR lang_signup></a>&nbsp; &nbsp;</li>
               <li><a href="<TMPL_VAR site_url>/?op=forgot_pass"><TMPL_VAR lang_forgot_pass></a></li>
               </TMPL_IF>
               </TMPL_IF>
            </ul>
            <div id="language">
               <ul>
                  <li>
                     <a>
                        <span class="trf trf-<TMPL_VAR language>"></span>
                     </a>
                     <ul>
                        <TMPL_LOOP languages>
                        <li>
                           <a href="<TMPL_VAR site_url>/?op=change_lang&lang=<TMPL_VAR lang>">
                              <span class="trf trf-<TMPL_VAR lang>"></span><span class="langname"><TMPL_VAR lang2></span>
                           </a>
                        </li>
                        </TMPL_LOOP>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>   
      </div><!--end main menu-->   
   </div> <!--end header-->
   
   <div class="clear"></div>

   <TMPL_IF usr_mod>
   <TMPL_UNLESS admin>
   <div id="wheader">
      <div class="container1">
         <div id="wmenu"><!--start main menu-->
               <ul>
                  <TMPL_IF approve_count><li><a href="<TMPL_VAR site_url>/?op=admin_approve">Approve files (<TMPL_VAR approve_count>)</a></li></TMPL_IF>
						<TMPL_IF m_d_f><li><a href="<TMPL_VAR site_url>/?op=moderator_files"><TMPL_VAR lang_adm_file_mgmt></a></li></TMPL_IF>
						<TMPL_IF m_d_a><li><a href="<TMPL_VAR site_url>/?op=admin_reports"><TMPL_VAR lang_adm_abuse></a></li></TMPL_IF>
						<TMPL_IF m_d_c><li><a href="<TMPL_VAR site_url>/?op=admin_comments"><TMPL_VAR lang_file_cmt_sett></a></li></TMPL_IF>
               </ul>
         </div>
      </div>
   </div>
   </TMPL_UNLESS>
   </TMPL_IF>
   
   <TMPL_IF admin>
   <div id="wheader">
      <div class="container1">
         <div id="wmenu"><!--start main menu-->
               <ul>
                  <TMPL_IF approve_count><li><a href="<TMPL_VAR site_url>/?op=admin_approve">Approve files (<TMPL_VAR approve_count>)</a></li></TMPL_IF>
                  <li><a href="<TMPL_VAR site_url>/?op=admin_files"><TMPL_VAR lang_adm_file_mgmt></a></li>
                  <li><a href="<TMPL_VAR site_url>/?op=admin_users"><TMPL_VAR lang_adm_user_mgmt></a></li>
                  <li><a href="<TMPL_VAR site_url>/?op=admin_servers"><TMPL_VAR lang_adm_server_mgmt></a></li>
                  <TMPL_IF enp_t><li><a href="<TMPL_VAR site_url>/?op=admin_torrents"><TMPL_VAR lang_torrents></a></li></TMPL_IF>
                  <li><a href="<TMPL_VAR site_url>/?op=admin_reports"><TMPL_VAR lang_adm_abuse></a></li>
                  <li><a href="<TMPL_VAR site_url>/?op=admin_news"><TMPL_VAR lang_adm_news></a></li>
                  <li><a href="<TMPL_VAR site_url>/?op=admin_comments"><TMPL_VAR lang_file_cmt_sett></a></li>
                  <li><a href="<TMPL_VAR site_url>/?op=admin_payments"><TMPL_VAR lang_adm_payments></a></li>
                  <li><a href="<TMPL_VAR site_url>/?op=admin_stats"><TMPL_VAR lang_adm_stats></a></li>
                  <li><a href="<TMPL_VAR site_url>/?op=admin_external">API keys</a></li>
                  <li><a href="<TMPL_VAR site_url>/?op=admin_settings"><TMPL_VAR lang_adm_settings><TMPL_IF del_confirm_request_count> (<TMPL_VAR del_confirm_request_count>)</TMPL_IF></a></li>
               </ul>
         </div>
      </div>
   </div>
   </TMPL_IF>
   
   <div class="clear"></div>
   <div id="container">
   <TMPL_IF show_last_news_days>                                                                                                         
   <TMPL_INCLUDE static/last_news.html>
   </TMPL_IF>

   <TMPL_VAR tmpl>
   </div>
   </div>
<div class="page-buffer"></div>
<div class="clear"></div>
<footer>
   <div class="container1">
      <div style="float: left;">
         <p style="line-height: 50px;">© 2016  <a href="http://sibsoft.net">Sibsoft, ltd</a></p> 
      </div>
      <div id="fmenu"><!--start footer menu-->
            <ul>

               <li><a href="<TMPL_VAR site_url>"><TMPL_VAR lang_home></a></li>
               <li><a href="<TMPL_VAR site_url>/?op=news"><TMPL_VAR lang_news></a></li>
               <TMPL_IF enable_catalogue><li><a href="<TMPL_VAR site_url>/?op=catalogue"><TMPL_VAR lang_catalogue></a>  </li></TMPL_IF>
               <li><a href="<TMPL_VAR site_url>/faq.html"><TMPL_VAR lang_faq></a></li>
               <li><a href="<TMPL_VAR site_url>/tos.html"><TMPL_VAR lang_tos></a></li>
               <TMPL_IF enabled_prem><TMPL_UNLESS premium><li><a href="<TMPL_VAR site_url>/premium.html"><TMPL_VAR lang_premium></a>  </li></TMPL_UNLESS></TMPL_IF>
               <li><a href="<TMPL_VAR site_url>/?op=checkfiles"><TMPL_VAR lang_link_checker></a></li>
               <li><a href="<TMPL_VAR site_url>/links.html"><TMPL_VAR lang_links></a></li>
               <li><a href="<TMPL_VAR site_url>/contact.html"><TMPL_VAR lang_contact_us></a></li>
               <TMPL_IF mobile_device><li><a href="#" onclick="$.removeCookie('design', { path: '/', domain: document.domain });document.location.reload();return false;">Mobile Version</a></li></TMPL_IF>
            </ul>
      </div>
      <a href="http://sibsoft.net/xfilesharing.html"><img class="flogo" src="<TMPL_VAR site_url>/images/logo_bw.png" alt="XFileSharing"></a>
      
   </div>
</footer>
</body>
</html>
