<script type="text/javascript" src="<TMPL_VAR site_url>/js/bootstrap-confirm.js"></script>
<script type="text/javascript" src="<TMPL_VAR site_url>/js/dialogs.js"></script>

<div style="width: 980px">
<TMPL_IF torrents>
<Table class="tbl1" style="width: 600px" id="torrents">
<TR class="hdr"><td colspan=6>Torrents running<br><small>Progress updating every 15 seconds</small></td></TR>
<TMPL_LOOP torrents>
<TR>
    <TD onmouseover="return tooltip('<TMPL_VAR file_list>','Torrent files');" onmouseout="return hideTip();"><TMPL_IF title><TMPL_VAR title><TMPL_ELSE><i>Waiting to start...</i></TMPL_IF></TD>
    <TD align=right><TMPL_VAR done> of <TMPL_VAR total> Mb (<TMPL_VAR percent>%)</TD>
    <TD align=right><TMPL_VAR down_speed>/s</TD>
    <TD align=right><TMPL_VAR up_speed>/s</TD>
    <TD><TMPL_VAR working></TD>
    <TD><a href="?op=my_files;del_torrent=<TMPL_VAR sid>;token=<TMPL_VAR token>" onClick="return confirm('<TMPL_VAR lang_delete_file>')"><img src="<TMPL_VAR site_url>/images/icon_delete.png" border=0></a></TD>
</TR>
</TMPL_LOOP>
</Table>
<br><br>
<script type="text/javascript" src="<TMPL_VAR site_url>/js/tips.js"></script>
<script>
	setInterval(function() {
		$.ajax({
			url: '?op=my_files&torrents=1&token=<TMPL_VAR token>',
			success: function(data) {
				$('#torrents').html(data);
			}
		});
	}, 15000);
</script>
<div id="tiplayer" style="position:absolute; visibility:hidden; z-index:10000;"></div>
</TMPL_IF>

		<form style="margin:0;" method="POST" action="<TMPL_VAR site_url>/" name="F1">
		<input type="hidden" name="op" value="my_files">
		<input type="hidden" name="token" value="<TMPL_VAR token>">
		<input type="hidden" name="fld_id" value="<TMPL_VAR folder_id>">
			<div class="folders"> <!--START FOLDERS BLOCK -->
				<!-- Start Space Status -->
				<div class="freespace">
					<span id="occupied"><b><TMPL_VAR total_size></b>  <TMPL_VAR lang_of> <b><TMPL_VAR disk_space></b></span>
					<span id="files_total"><TMPL_VAR files_total> <TMPL_VAR lang_files></span>
					<div class="clear"></div>
					<div class="indicator">
						<span class="occupied" style="width: <TMPL_VAR occupied_percent>%;"></span>
					</div>
				</div>
				<!-- End SPace Status -->
				<!-- START PAGING --> 			
				<div class="paging top">

				</div>
				<!-- END PAGING --> 
				<!-- START FOLDERS TABLE -->
				<table cellpadding="0" cellspacing="1" id="folders_list"> 
					<TMPL_INCLUDE folders.html>
				</table>
				<!-- END FOLDERS TABLE -->
				<!-- START PAGING --> 			
				<div class="paging bottom">
				</div>
				<!-- END PAGING --> 
			</div> 
			<!--END FOLDERS BLOCK -->
			
			<!--START FILES BLOCK -->
			<div class="files"> 
				<!-- Start Search -->
				<div class="search">
					<input type="text" id="key" name="key" class="input1" value="<TMPL_VAR key>">
					<input type="submit" value="">
				</div>
				<!-- End Search --> 
				<!-- START PAGING --> 			
				<div class="paging top">
				</div>
				<!-- END PAGING --> 
				<!-- START FILES TABLE -->
				<table id="files_list" cellpadding="0" cellspacing="1" style="width: 640px" table-layout:fixed> 
					<TMPL_INCLUDE files.html>
				</table>
				<!-- END FILES TABLE -->
				<!-- START PAGING --> 			
				<div class="paging bottom">
				</div>
				<!-- END PAGING --> 
			</div> 
			<!--END FILES BLOCK -->
		</div> <!-- end container -->
	</form>
	<script>
	setPagination('.files .paging',
	{
		op: 'my_files', 
		total: '<TMPL_VAR files_total>',
		load_files_list: 'true',
		token: '<TMPL_VAR token>',
		target: '#files_list',
		perpage: '<TMPL_VAR per_page>',
		fld_id: '<TMPL_VAR folder_id>',
		page: '<TMPL_VAR page>',
	});
	setPagination('.folders .paging',
	{
		op: 'my_files', 
		total: '<TMPL_VAR folders_total>',
		load_folders_list: 'true',
		token: '<TMPL_VAR token>',
		target: '#folders_list',
		perpage: '<TMPL_VAR per_page>',
		fld_id: '<TMPL_VAR folder_id>',
		page: <TMPL_VAR page>,
	});
	</script>
	<script src="<TMPL_VAR site_url>/js/jquery-ui.js"></script>
	<link href="//code.jquery.com/ui/1.11.2/themes/cupertino/jquery-ui.css" type="text/css" rel="stylesheet" />
<style type="text/css">

/* Only for the demo */
.hasmenu, .hasmenu2 {
        border: 1px solid #008;
        margin: 3px;
        padding: 5px;
        width: 30px;
}

/* Optionally define a fixed width for menus */
.ui-menu {
        width: 220px;
}
/* Allow to use <kbd> elements inside the title to define shortcut hints. */
.ui-menu kbd {
        padding-left: 1em;
        float: right;
}

/* Define a custom icon */
.ui-icon.custom-icon-firefox {
        background-image: url(application_firefox.gif);
        background-position: 0 0;
}
</style>
<script>
	$('#key').autocomplete({
		source: "<TMPL_VAR site_url>?op=my_files&json=1",
		select: function() { this.form.submit() }
	});
</script>
</div>
