<script type="text/javascript" src="<TMPL_VAR site_url>/js/bootstrap-confirm.js"></script>
<script src="<TMPL_VAR site_url>/js/dialogs.js"></script>

<div class="col-12">

<TMPL_IF torrents>
<Table class="tbl1" style="width: 600px" id="torrents">
<TR class="hdr"><td colspan=6>Torrents running<br><small>Progress updating every 15 seconds</small></td></TR>
<TMPL_LOOP torrents>
<TR>
    <TD onmouseover="return tooltip('<TMPL_VAR file_list>','Torrent files');" onmouseout="return hideTip();"><TMPL_IF title><TMPL_VAR title><TMPL_ELSE><i>Waiting to start...</i></TMPL_IF></TD>
    <TMPL_IF status_error>
    <TD colspan="4">Tracker error: <TMPL_VAR error></TD>
    </TMPL_IF>
    <TMPL_IF status_seeding>
    <TD colspan="4"><span style="color: green">Seeding <TMPL_VAR uploaded> of <TMPL_VAR seed_until></span></TD>
    </TMPL_IF>
    <TMPL_IF status_working>
    <TD align=right><TMPL_VAR downloaded> of <TMPL_VAR size> Mb (<TMPL_VAR percent>%)</TD>
    <TD align=right><TMPL_VAR download_speed>/s</TD>
    <TD align=right><TMPL_VAR upload_speed>/s</TD>
    <TD><TMPL_VAR working></TD>
    </TMPL_IF>
    <TD><a href="?op=my_files;del_torrent=<TMPL_VAR sid>;token=<TMPL_VAR token>" onClick="return confirm('<TMPL_VAR lang_delete_file>')"><img src="<TMPL_VAR site_url>/images/icon_delete.png" border=0></a></TD>
</TR>
</TMPL_LOOP>
</Table>
<br><br>
<script type="text/javascript" src="<TMPL_VAR site_url>/js/tips.js"></script>
<script>
	setInterval(function() {
		$.ajax({
			url: '?op=my_files&torrents=1&token=<TMPL_VAR token>',
			success: function(data) {
				$('#torrents').html(data);
			}
		});
	}, 15000);
</script>
<div id="tiplayer" style="position:absolute; visibility:hidden; z-index:10000;"></div>
</TMPL_IF>

		<form style="margin:0;" method="POST" action="<TMPL_VAR site_url>/" name="F1">
		<input type="hidden" name="op" value="my_files">
		<input type="hidden" name="token" value="<TMPL_VAR token>">
		<input type="hidden" name="fld_id" value="<TMPL_VAR folder_id>">
		
			<div class="col-4 lft">
				
				<TMPL_UNLESS trash>
					<div class="borders lft col-11 padding createFolder">
					<input type="text" size="18" name="create_new_folder" class="input1" placeholder="New Folder Name">
					<input value="Create Folder" class="f-btn-green" name="create_folder_submit" type="submit" style="height:auto;">
					</div>
				</TMPL_UNLESS>
				
				<div class="folders gap borders">
				<!-- START FOLDERS TABLE -->
				<table cellpadding="0" cellspacing="1" id="folders_list"> 
					<TMPL_INCLUDE folders.html>
				</table>
				<!-- END FOLDERS TABLE -->
				<!-- START PAGING --> 			
				<div class="paging bottom">
				</div>
				<!-- END PAGING -->
				</div>
				
			</div>
			<div class="col-8 lft">
				
				<div class="col-12 lft">
					<div class="search borders">
						<input type="text" id="key" name="key" class="input1" value="<TMPL_VAR key>" placeholder="Enter Search Word">
						<input type="submit" value="Search">
					</div>
				
					<!-- Start Space Status -->
					<div class="freespace borders">
						<span id="occupied"><b><TMPL_VAR total_size></b>  <TMPL_VAR lang_of> <b><TMPL_VAR disk_space></b></span>
						<span id="files_total"><TMPL_VAR files_total> <TMPL_VAR lang_files></span>
						<div class="clear"></div>
						<div class="indicator">
							<span class="occupied" style="width: <TMPL_VAR occupied_percent>%;"></span>
						</div>
					</div>
					
				</div>
				
				<div class="files gap">
				<!-- START FILES TABLE -->
					<div class="filesInner borders">
					<table id="files_list" cellpadding="0" cellspacing="1" style="width: 100%" table-layout:fixed> 
						<TMPL_INCLUDE files.html>
					</table>
					</div>
				<!-- END FILES TABLE -->
				<!-- START PAGING --> 			
				<div class="paging bottom">
				</div>
				<!-- END PAGING -->
				
			</div>
			</div>
			<!--END FILES BLOCK -->
			
		<!-- end container -->
	</form>
	<script>
	setPagination('.files .paging',
	{
		op: 'my_files', 
		total: '<TMPL_VAR files_total>',
		load_files_list: 'true',
		token: '<TMPL_VAR token>',
		target: '#files_list',
		perpage: '<TMPL_VAR per_page>',
		fld_id: '<TMPL_VAR folder_id>',
		page: '<TMPL_VAR page>',
	});
	setPagination('.folders .paging',
	{
		op: 'my_files', 
		total: '<TMPL_VAR folders_total>',
		load_folders_list: 'true',
		token: '<TMPL_VAR token>',
		target: '#folders_list',
		perpage: '<TMPL_VAR per_page>',
		fld_id: '<TMPL_VAR folder_id>',
		page: <TMPL_VAR page>,
	});
	</script>
	<script src="<TMPL_VAR site_url>/js/jquery-ui.js"></script>
	<link href="//code.jquery.com/ui/1.11.2/themes/cupertino/jquery-ui.css" type="text/css" rel="stylesheet" />
<style type="text/css">

/* Only for the demo */
.hasmenu, .hasmenu2 {
        border: 1px solid #008;
        margin: 3px;
        padding: 5px;
        width: 30px;
}

/* Optionally define a fixed width for menus */
.ui-menu {
        width: 220px;
}
/* Allow to use <kbd> elements inside the title to define shortcut hints. */
.ui-menu kbd {
        padding-left: 1em;
        float: right;
}

/* Define a custom icon */
.ui-icon.custom-icon-firefox {
        background-image: url(application_firefox.gif);
        background-position: 0 0;
}
</style>
<style>
embed, div { margin: auto; }
.SidemenuPanel ul.otherMenus li.activemfl{background:#363636; border-left:2px solid #131313; cursor:pointer}
.SidemenuPanel ul.otherMenus li.activemfl i{color:#fff;}
.holderPanel{width: 100%; background:#444444; float:left;}
.SidemenuPanel{width: 16.66%; float:left; display:block;}
.contentPanel{width: 83.33%; background:#fff; float:left;}
footer{display:none;}
#header #logo{display:none;}
.SidemenuPanel #logo{display:block;}
.UserHead{display:block;}
#container{width:95%;margin: 20px auto;}
.files table th, tr.hdr td{text-transform:uppercase;}
@media (min-width: 320px) and (max-width: 480px) {
.holderPanel{width: 100%;}
.SidemenuPanel{ display:none;}
.contentPanel{width: 100%;}
#header #logo{display:block;}
.UserHead{display:none;}
}
@media (min-width: 600px) and (max-width: 800px) {
.holderPanel{width: 100%;}
.SidemenuPanel{ display:none;}
.contentPanel{width: 100%;}
#header #logo{display:block;}
.UserHead{display:none;}
}
@media (min-width: 980px) and (max-width: 1024px) {
.SidemenuPanel{width: 25%;}
.contentPanel{width: 75%;}
.col-4, .col-8, .col-11{width:100%;}
.freespace{width:98%;}
}
</style>
<script>
	$('#key').autocomplete({
		source: "<TMPL_VAR site_url>?op=my_files&json=1",
		select: function() { this.form.submit() }
	});
</script>
</div>
