<h2><TMPL_VAR day></h2>
<table class="tbl1" width="50%">
<tr class="hdr">
   <td>File</td>
   <td>User</td>
   <td>Country</td>
   <td>Domain</td>
   <td>Premium</td>
   <td>Amount</td>
   <td>Reason</td>
</tr>
<TMPL_IF list>
<TMPL_LOOP list>
<tr>
   <td align="center"><a href="<TMPL_VAR download_link>"><TMPL_VAR file_name></a></td>
   <td align="center"><TMPL_VAR usr_login></td>
   <td align="center"><TMPL_VAR country></td>
   <td align="center"><TMPL_VAR domain></td>
   <td align="center"><TMPL_VAR premium_download></td>
   <td align="center">$<TMPL_VAR money></td>
   <td align="center"><TMPL_VAR status></td>
</tr>
</TMPL_LOOP>
<TMPL_ELSE>
<tr>
   <td colspan="7" align="center">No downloads found for selected date</td>
</tr>
</TMPL_IF>
</table>
