	<div id="content">
		<div class="container" style="position: relative;top: 50%; transform: translateY(15%)">
			<div class="prompic" style="">
				<a href="<TMPL_VAR site_url>/?op=upload_form">&nbsp;</a>
			</div>	
			<div class="clear"></div>						
		</div> 
	</div>
	<TMPL_IF demo_mode>
	<div class="col-12 lft splashHldr">
		<a href="https://play.google.com/store/apps/details?id=net.sibsoft.xfsuploader" target="_new"><img src="/images/android.png" height="61"></a>
		<a href="/desktop_file_manager_mac.zip" target="_new"><img src="/images/mac_os.png" height="61"></a>
		<a href="/desktop_file_manager_win.zip" target="_new"><img src="/images/windows.png" height="61"></a>
	</div>
	</TMPL_IF>
	
    <style>
    body{background-image:url(../images/bg.png); -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover;}
	#header{background:none!important; border:0px!important;}
	footer{background:none; border:0px;position:absolute;bottom:0px;}
	footer .container1{display:none;}
	#mainmenu ul li a{color:#fff;}
	.copyright{display:block;}
	.prompic{margin: 50px auto 30px;}
	
	@media (min-width: 320px) and (max-width: 480px) {
	#container{margin:0px auto;}
	.prompic{margin: 10px auto 10px;}
	}
	@media (min-width: 600px) and (max-width: 800px) {
	#container{margin:0px auto;}
	}
    </style>
